.lin1{
    background-color: var(--Cello);
}
.lin2{
    background-color: var(--Opal);
}
.lin3{
    background-color: var(--WhiteIce);
}
.tx1{
    color:var(--Opal);
}
.tx2{
    color: var(--ShadowGreen);
}
.txdef{
    color:var(--WhiteIce);
}