.lin1{
    background-color: var(--frechviolet);
}
.lin2{
    background-color: var(--garape);
}
.lin3{
    background-color: var(--staleblue);
}
.tx1{
    color:var(--unblue);
}
.tx2{
    color: var(--staleblue);
}
