@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --verydark:#111316;
    --eerieblack:rgb(22, 26, 29);
    --onyx:#343A40;
    --pictonbue:#48BFE3;
    --staleblue:#5E60CE;
    --unblue:#5390D9;
    --garape:#6930C3;
    --frechviolet:#7400B8;
    --aero:#48bfe3;
}
html{
    font-family: 'Rubik', sans-serif;
    color: var(--unblue);
}
body{
    background-color: var(--eerieblack);
    margin: auto 0;
}

h2 {
    font-size: 2em;
}

.main {
    text-align: center;
    margin: 0 auto;
}

.Header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}
.Navbar__Hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.Navbar__Hamburger:hover{
    background-color: var(--onyx);
}
.Navbar__Hamburger__line{
    display: block;
    width: 65%;
    height: 2px;
    margin: 5px 0;

}

.Navbar__Menu{
    display: flex;
    height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.Navbar__Menu.Visible{
    opacity: 1;
    height: 199px;
    display: block;
}
.Navbar__Menu__Item{
    display: block;
    text-decoration: none;
    padding: .5em;
    color: var(--unblue);
}
.Navbar__Menu__Item:hover{
    background-color: var(--onyx);
}
.Navbar__Menu__Item--Active{
    color: var(--staleblue);
    font-weight: 700;
}
.Icon{
    color: white;
    display: inline-block;
    font-size: 1.5rem;
}
.img{
    width: 100%;
    height: auto;
}
.main__portrait{
    display: flex;
    justify-content: center;
    width: 16em;
    height: 16em;
    border-radius: 100%;
}
.portrait__description{
    padding: 1em;
}

.portrait__picture {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.Header--height{
    height: unset;
}
@media only screen and (min-width: 320px  ){
    .portrait__description{
        
        font-size: 1.5em;
     }
     .portrait__name{
         font-size: 2em;
     }

     
}
@media only screen and (min-width: 425px  ){
    .portrait__description{
        font-size: 2em;
     }
     .portrait__name{
         font-size: 2.5em;
     }
     
     
}
@media only screen and (min-width: 750px  ){
    .Navbar__Hamburger{
     display: none;
    }
    .Navbar__Menu{
    opacity: 1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    }
    .Navbar__Menu--links{
        display: flex;
        transition: 0.5s;
        height: 50px;
        align-items: center;
        list-style: none;
    }
    .Navbar__Menu__Item{
        height: inherit;
        display: flex;
        align-items: center;
    }
    .Header--height{
        height: 5vh;
    }
    .section{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0 5em 0 5em; /*Tohle pripadne upravit podle gusta*/
    }
    .section > * {
        flex: 1 1 0;
    }
    .Header{
        justify-content: center;
    }
    .Navbar__Menu{
        position: absolute;
        top: 0;
    }

    }
    .device{
        padding:0.5em;
        margin: 1.5em 1em 1em;
    }

.device{
    margin: 2em 1.5em 1.5em;
    background-color:var(--verydark) ;
    border-radius: 1em 1em 1em 1em;
    color: var(--aero);
    text-align: center;
    padding:.5em;
}
.device ul{
    list-style-type: none;
}
