@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    font-family: 'Rubik', sans-serif;
    --eerieblack:rgb(22, 26, 29);
    --onyx:#343A40;
    --pictonbue:#48BFE3;
    --staleblue:#5E60CE;
    --unblue:#5390D9;
    --garape:#6930C3;
    --frechviolet:#7400B8;


    color: var(--unblue);
}
body{
    background-color: var(--eerieblack);
    margin: auto 0;
}
.Header{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    gap: 1em;
}
.Navbar__Hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.Navbar__Hamburger:hover{
    background-color: var(--onyx);
}
.Navbar__Hamburger__line{
    display: block;
    width: 65%;
    height: 2px;
    margin: 5px 0;

}

.Navbar__Menu{
    display: block;
    height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 100vw;
    transition: all 0.3s ease-in-out;
}
.Navbar__Menu.Visible{
    opacity: 1;
    height: 199px;
    display: block;
}
.Navbar__Menu__Item{
    display: block;
    text-decoration: none;
    padding: .5em;
    color: var(--unblue);
}
.Navbar__Menu__Item:hover{
    background-color: var(--onyx);
}
.Navbar__Menu__Item--Active{
    color: var(--staleblue);
    font-weight: 700;
}
.Icon{
    color: white;
    display: inline-block;
    font-size: 1.5rem;
}
.img{
    width: 100%;
    height: auto
}
.Header__logo{
    width: 16em;
    height: 16em;
    border-radius: 100%;
}
.Header__text{
    padding: 1em;
}
.Header--height{
    height: 35vh;
}
@media only screen and (min-width: 320px  ){
    .Header__text{
        
        font-size: 1.5em;
     }
     .Header__title{
         font-size: 2em;
     }
     
}
@media only screen and (min-width: 425px  ){
    .Header__text{
        font-size: 2em;
     }
     .Header__title{
         font-size: 2.5em;
     }
     
}
@media only screen and (min-width: 750px  ){
    .Navbar__Hamburger{
     display: none;
    }
    .Navbar__Menu{
    opacity: 1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    }
    .Navbar__Menu--links{
        display: flex;
        transition: 0.5s;
        height: 50px;
        align-items: center;
    }
    .Navbar__Menu__Item{
        height: inherit;
        display: flex;
        align-items: center;
    }
    .Header--height{
        height: 15vh;
    }
}
